:root {
  --gray-primary: #d9d9d9;
  --green-primary: #5a968b;
}

body {
  margin: 0px 0;
}

#samarth-logo {
  height: 40px;
  width: 100px;
}

/* Styling Tables */
.RaDatagrid-headerCell {
  font-weight: bold !important;
  /* background-color: var(--green-primary) !important; */
  background-color: var(--green-primary) !important;
  color: #fff !important;
  padding: 0.8rem 1rem !important;

}

.RaDatagrid-rowOdd {
  background-color: #F2F2F2;
}

/* Styling Input Fields*/
.MuiInputBase-root {
  background-color: #d9d9d9 !important;
}

/* vinay */
.student_mapping_imp {
  display: flex;
  height: fit-content;
  align-content: center;
  justify-content: flex-end;
}

.show_wrapper_layout {
  background: #fff;
  border: none;
  display: flex;
}

.show_wapper {
  border: none;
}

.show_wapper div {
  border: none;
  background: whitesmoke;
}

.show_layout {
  width: 100% !important;
  display: flex !important;
  height: 100% !important;
  flex-direction: row;
}

.show_layout div {
  width: 100% !important;
  min-height: 100vh !important;
  max-height: fit-content !important;
}

.downlabel {
  display: flex;
  max-width: auto;
  flex-direction: column;
}

.downlabel_field {
  background-color: var(--gray-primary);
  border-radius: 8px;
  padding: 6px 13px;
  font-size: 24px;
  margin-bottom: 6px;
  color: black;
  border: 1px solid black;
}

.downlabel_label {
  padding-left: 13px;
  font-size: 18px;
  color: black;
}

.input_flex_wrapper {
  display: grid;
  column-gap: 10em;
}

.cta_buttons {
  display: flex;
  font-size: 24px;
  justify-content: space-evenly;
}

.cta_buttons button {
  font-size: 24px;
  outline: none;
  border-radius: 8px;
  text-align: center;
  width: 12%;
  cursor: pointer;
  border: 1px solid black;
}

.cta_btn_active {
  background: var(--green-primary);
}

.edit_button {
  border-color: var(--green-primary);
  color: var(--green-primary);
}

.active_chip {
  background: var(--gray-primary) !important;
}

.custom_text_field {
  background: #f0f0f0 !important;
  border-top-left-radius: 0.5rem;
  border-top-right-radius: 0.5rem;
  padding: 0rem 0.8rem;
  border-bottom: 3px solid rgba(0, 0, 0, 0.2) !important;
  min-width: 15rem;
  position: relative;
  margin-bottom: -4rem;
  height: 3.5rem;
}

.custom_text_field p:nth-child(1) {
  font-size: 0.8rem;
  color: rgba(0, 0, 0, 0.6);
  line-height: 0rem;
  margin-top: 1rem;
  position: absolute;
}

.custom_text_field p:nth-child(2) {
  font-size: 1rem;
  line-height: 0.5rem;
  position: absolute;
  color: rgba(0, 0, 0, 0.8);
  margin-bottom: 1rem;
  top: 30%
}

.flex_show_wrapper {
  display: flex;
  flex-wrap: wrap;
  gap: 8rem;
  margin: 2rem 0rem 7rem 0rem;
  justify-content: center;
}

.MuiTypography-root {
  font-size: 0.85rem !important;
}

.MuiTableCell-head svg {
  color: #fff !important;
}

.MuiTableCell-head span {
  color: #fff !important;
}

.MuiFilledInput-root {
  background: #f0f0f0 !important;
  border: none !important;

  /* box-shadow: rgba(17, 17, 26, 0.1) 0px 4px 16px, rgba(17, 17, 26, 0.05) 0px 8px 32px; */
}